/* Body and structure
-------------------------------------------------- */

@import "navbar.less";

body {
  position: relative;
  padding-top: 38px;
  background-color: #84CDE3;
}

.message-form {
    width:80%;
    margin-left: 7%;
    textarea {
        width:100%;
    }
}