<div class="row">
    <div class="login-form">
        <h2>Авторизация</h2>
        <form>
            <fieldset>
                <div class="clearfix">
                    <input type="text" placeholder="Пользователь" name="auth-username">
                </div>
                <div class="clearfix">
                    <input type="password" placeholder="Пароль" name="auth-password">
                </div>
                <button class="btn btn-primary auth-btn">Вход</button>
            </fieldset>
        </form>
    </div>
</div>
