<!-- Форма сообщения !-->
<div class='message-form'>
    <div class="row type-names">
      <div class="span1"></div>
      <div class="span1 p1 message-type event type-pointed">Событие</div>
      <div class="span1 p2 message-type announce">Объявление</div>
      <div class="span1 p3 message-type description">Информация</div>
    </div>

    <div class="row type-pointers">
      <div class="span1"></div>
      <div class="span1 p1 message-pointer pointed"></div>
      <div class="span1 p2 message-pointer"></div>
      <div class="span1 p3 message-pointer"></div>
    </div>

    <div class='message-field'>
        <textarea class='message'></textarea>
        <ul class='submenu'>
            <li class='datepicker'></li>
        </ul>
        <ul class='menu'>
            <li class='fullscreen'></li>
            <li class='undo'></li>
            <li class='attach'></li>
        </ul>
     </div>


    <div class="row actions">
      <div class="span1">
        <button class='btn btn-primary save-btn'>Сохранить</button>
      </div>
      <div class="span5 tags">
        <span class='add'></span>
        {# <span class='tag' --data-title='axe' --data-content_type='1'>AXE</span> #}
      </div>
    </div>
</div>