<!-- Navbar
                ================================================== -->
                <div class="navbar navbar-inverse navbar-fixed-top">
                  <div class="navbar-inner">
                    <div class='navigation'>
                        <div class="container">
                          {# <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> #}
                            {# <span class="icon-bar"></span> #}
                            {# <span class="icon-bar"></span> #}
                            {# <span class="icon-bar"></span> #}
                          {# </button> #}
                          <a class="brand" href="./index.html">Журналы</a>
                          <div class="nav-collapse collapse">
                            <ul class="nav dairy-list">
                              {% comment %}
                              <li class="active">
                                <a href="./index.html">AXE</a>
                              </li>
                              <li class="">
                                <a href="./getting-started.html">MT</a>
                              </li>
                              <li class="">
                                <a href="./getting-started.html">Аварии</a>
                              </li>
                              <li class="">
                                <a href="./getting-started.html">Wiki</a>
                              </li>
                              {% endcomment %}
                            </ul>

                            <ul class="nav pull-right">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown">
                                  <span></span>
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class='auth-logout' href="">Выход</a></li>
                                </ul>
                              </li>
                            </ul>

                          </div>
                        </div>
                    </div>
                  </div>
</div>