{% extends "main/base.html" %}
{% block title %}Журналы{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="/libs/sockjs-0.3.min.js" type="text/javascript"></script>

  <script src="/js/main/link.js" type="text/javascript"></script>
  <script src="/js/main/authentication.js" type="text/javascript"></script>
  
  <script src="/js/registers/messages.js" type="text/javascript"></script>

{% endblock %}

{% block styles %}
  {{ block.super }}
{% endblock %}


{% block body %}
    <script type="text/javascript">
      {% autoescape off %}
        var SETTINGS = {{ settings }};
      {% endautoescape %}
    </script>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Журналы
        </a>
        <ul class="nav">
          <li>
            <a href="#">
              АТС 24
            </a>
          </li>
          <li>
            <a href="#">
              МТ 20
            </a>
          </li>
          <li>
            <a href="#">
              СоТУК
            </a>
          </li>
        </ul>
        <form class="navbar-form pull-right">
        </form>
      </div>
    </div>
  </div>

  <div class="container message-conteiner">
    <div class="hero-unit">
        <div class="btn-group" data-toggle="buttons-radio">
                     <button class="btn btn-primary">Событие</button>
                     <button class="btn btn-primary">Объявление</button>
                     <button class="btn btn-primary">Описание</button>
        </div>
        <textarea id="message" class='message'  name="message" placeholder="Сообщение"></textarea>
        <a class="btn" href="#">
          Сохранить
        </a>
    </div>

    <div class="event">
      <div>
        <p>
          This is a template
        </p>
      </div>
    </div>

  </div>

{% endblock %}