{% extends "main/base.html" %}
{% block title %}Журналы{% endblock %}
{% block body %}
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Журналы</div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="">AXE</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}