{% extends "main/base.html" %}
{% block title %}Журналы{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="/libs/sockjs-0.3.min.js" type="text/javascript"></script>
  <script src="/js/main/link.js" type="text/javascript"></script>
  <script src="/js/registers/messages.js" type="text/javascript"></script>

{% endblock %}

{% block styles %}
  {{ block.super }}
{% endblock %}


{% block body %}

    <!-- Навигация
    ================================================== -->
    <div class="navbar navbar-rostelecom navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Журналы</div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="">AXE</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Добавление сообщений
    ================================================== -->
    <div class="span4 well message-form">
        {# <form accept-charset="UTF-8" action="" method="POST"> #}
            <div class="row">
              <div class="span8">
                <textarea class="span4" id="new_message" name="new_message"
                placeholder="Сообщение..." rows="5"></textarea>
              </div>
              <div class="span2">
                <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
                   <button class="btn btn-primary">Событие</button>
                   <button class="btn btn-primary">Объявление</button>
                   <button class="btn btn-primary">Описание</button>
                </div>
              </div>
            </div>
            <button class="btn btn-info" type="submit">Сохранить</button>
        {# </form> #}
    </div>


{% endblock %}